*{
box-sizing: border-box;
padding: 0;
margin: 0;    
}
.color-sec {
padding: 100px 0;
background-color: aqua;
height: 100vh;
color: #fff;
}

.container{
max-width: 1280px;
width: 100%;
margin: auto;
text-align: center;
}

h1 {
font-family: "Poppins";
font-weight: 700;
font-size: 50px;
line-height: 1;
letter-spacing: 0px;
margin-bottom: 30px;

}
p{
font-family: "Poppins";
font-weight: 400;
font-size: 20px;
line-height: 1;
letter-spacing: 0px;
margin-bottom: 30px;   
}

button{
font-family: "Poppins";
font-weight: 600;
font-size: 20px;
line-height: 1;
letter-spacing: 0px;
margin-bottom: 30px;     
text-align: center;
width: 200px;
height: 150px;
color: #fff;
border: 2px solid #fff;
}

.button1{
background-color: green;
}
.button2{
background-color: red;
}
.button3{
background-color: #000;

}

.button4 {
background-color: blue;
}